<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frases Célebres</title>

    <link rel="stylesheet" href="/estilos_css/estilos_main.css">

    <link rel="stylesheet" href="/estilos_css/estilos_frases.css">

    <style>
       
    </style>

</head>

<body>
    <header class="estilo_header">
        <h1 class="estilo_titulo">Fraces Célebres</h1>
    </header>
    <main class="estilo_main">
        <section class="estilo_section">

            <div class="div_section_01">
               
                <article class="estilo_article">

                    <div class="div_article_01">

                        <div class="div_contenedor_frases">

                            <% arreglo_frases.forEach(function(frase) { %>

                                <div class="div_frase">
                                    <h5 class="number_frase">id: <%= frase.id %>
                                    </h5>
                                    <h3 class="texto_frase">
                                        <%= frase.frase %>
                                    </h3>
                                    <h4 class="autor_frase">
                                        <%= frase.nombre %>
                                    </h4>
                                </div>

                                <% }) %>

                        </div>
                    </div>

                </article>
            </div>
        </section>
    </main>

    <footer class="estilo_footer">
        <div class="div_footer_01">
            <p class="">Autor: Salvador Mauricio Vilches Jerez</p>
            <p class="">Fecha publicación: Actualmente en etapa de desarrollo</p>
        </div>
    </footer>

</body>

</html>