<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/estilos_css/estilos_main.css">

</head>
<body>
    <header class="estilo_header">
        <h1 class="estilo_titulo">Fraces Célebres</h1>
    </header>
    <main class="estilo_main">
        <section class="estilo_section">
            <article class="estilo_article">
                <p>Sección article de fraces célebres</p>

                <div>
                    <h1>Sección para Fraces Célebres</h1>
            
                    <div>
                        <h3>Texto desde my aplicación: <%= dato_local.mensaje %></h3>
                        <br>
                        <h3>Otro texto para probar: <%= dato_local.datos_02 %></h3>
                    </div>
                </div>

            </article>
        </section>
    </main>

    <footer class="estilo_footer">
        <div class="div_footer_01">
            <p class="">Autor: Salvador Mauricio Vilches Jerez</p>
            <p class="">Fecha publicación: Actualmente en etapa de desarrollo</p>
        </div>
    </footer>    
    
</body>
</html>