<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog SurCode25</title>

     <link rel="stylesheet" href="/estilos_css/bootstrap.min.css">
    <link rel="stylesheet" href="/estilos_css/estilos_main.css">
    <link rel="stylesheet" href="/estilos_css/colores_const.css">

</head>
<body class="bg_azure">

    <header class="bg_dimgrey">
        <div class="mx-1 my-1 px-1 py-1">
            <h2 class="text_ghostwhite text-center">Blog SurCode25</h2>
        </div>
    </header>
    <main class="bg_yellowgreen px-1 py-1">

        <h3 class="mx-1 my-1">Blog de SurCode 25</h3>

        <section class="bg_cyan mx-1 my-1 px-1 py-1">
          
            <%- include('article_post_01', { datos_post: datos }) %>
                      
        </section>
    </main>

    <footer class="bg_dimgrey">
        <div class="mx-1 my-1 px-1 py-1">
            <h5 class="text_honeydew">Proyecto: Blog de SurCode25</h5>
            <h5 class="text_ivory">Autor: Salvador Mauricio Vilches Jerez</h5>
            <h5 class="text_lavender">Fecha publicación: En etapa de desarrollo desde 10/05/2025</h5>
        </div>
    </footer>
    
     <script src="/scripts_js/bootstrap.bundle.js"></script>

</body>
</html>